BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Sets up clock + sets frequency
LOCATE COMP "clkin" SITE "G2";
IOBUF  PORT "clkin" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clkin" 25 MHZ;

# Sets up reset button
LOCATE COMP "reset" SITE "D6";
IOBUF  PORT "reset" PULLMODE=DOWN IO_TYPE=LVCMOS33;

# VGA Output Pins
LOCATE COMP "hsync" SITE "C18";
LOCATE COMP "vsync" SITE "D17";
LOCATE COMP "b[0]" SITE "B15";
LOCATE COMP "b[1]" SITE "C15";
LOCATE COMP "g[0]" SITE "B17";
LOCATE COMP "g[1]" SITE "C17";
LOCATE COMP "r[0]" SITE "C16";
LOCATE COMP "r[1]" SITE "D16";
IOBUF PORT  "hsync" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "vsync" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "b[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "b[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "g[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "g[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "r[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "r[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Button Inputs
LOCATE COMP "left" SITE "U1";  # LEFT
LOCATE COMP "right" SITE "H16"; # RIGHT Y2->H16
IOBUF  PORT "left" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "right" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

### Hint: Outputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

### Hint: Inputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=DOWN IO_TYPE=LVCMOS33;